<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated archi -->
      <package
            uri="http://www.example.org/archi"
            class="archi.ArchiPackage"
            genModel="model/archi.genmodel"/>
   </extension>

</plugin>
